html {
    /* フォントサイズの計算に1rem=10pxを使いたいのでhtmlに62.5%を指定 */
    font-size: 62.5%;
  }

  html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 vertical-align:baseline;
 background:transparent;
}

body {
    /* プロジェクトによって変動 */
    max-width: 1600px;
    color: #000;
    line-height: 1.6;
    font-weight: 400;
    font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'YuGothic', '游ゴシック', 'メイリオ', Meiryo, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;

    font-variant-numeric: tabular-nums;
    /* safari hover対策 */
    -webkit-font-smoothing: antialiased;
   }

   article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
 display:block;
}

.wrap{
    overflow: hidden;
}

ul, ol {
    list-style:none;   }

blockquote, q {
    quotes:none;
   }
   
   blockquote:before, blockquote:after,
   q:before, q:after {
    content:'';
    content:none;   
}

a {
    margin:0;
    padding:0;
    vertical-align:baseline;
    text-decoration: none;
    color: inherit;
   }
   
   /* change colours to suit your needs */
   ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
   }

   mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
   }
   
   del {
    text-decoration: line-through;
   }
   
   abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
   }
   
   table {
    border-collapse:collapse;
    border-spacing:0;
   }

   hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
   }
   
   input, select {
    vertical-align:middle;
   }
   
   img {
    vertical-align: bottom;
    line-height: 1.0;
   }
   
   button {
    line-height: 1.0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

*{
    box-sizing: border-box;
}

body{
    font-family: ヒラギノ角ゴ ProN,W6;
}

.common-inner{
    margin: 0 auto;
    background-color: #ffffff;
    padding:80px 0;

}

.page-header__list  a{
    transition: 1s;
}

.page-header{
    background-color: #ffffff;
}

.page-header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:0 2px 4px gray ;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #ffffff;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    
}

.page-header__logo{
    display:flex;
    padding-left: 190px;
    

}

.page-header__logo img{
    height: auto;
    max-width: auto;
    

}

.page-header__logo p{
    font-size: 24px;
    color: #333333;
    padding-left: 20px;
    padding-top: 3px;
    
}





.page-header__nav{
    display: flex;
    align-items: center;
}

.page-header__list{
    display: flex;
    padding-right: 50px;

    

}

.page-header__block:not(:last-child){
    margin-right: 42px;

}



.page-header__block a{
    font-size: 16px;
    color: #333333;
    font-family: ヒラギノ角ゴ ProN,W6;
}

.page-header__block a:hover{
    text-decoration: underline;
}

.page-header__form{
    padding-right: 193px;
    opacity: 0.8;
    transition: all ease 0.5s;
}

.page-header__form a{
    font-size: 14px;
    color: #ffffff;
    display: inline-block;
    background: linear-gradient(90deg, #FA41CC 0%, #6020B0 100%) 0% 0% no-repeat padding-box;
    margin-left: 100px;
    border-radius:10px ;
    padding: 5px 15px;
    
}

.page-header__form:hover {
    opacity: 1;

}

.page-header__main{
    display: flex;
    position: relative;
    padding-bottom: 70px;
    
}

.header-main__wrapper{
    padding-left: 190px;
    margin-right: 133px;
    margin-top: 168px;
    text-align: left;

}

.header-main__title{
    font-size:32px ;
    color: #333333;
    line-height: 1.75;
}

.header-main__text{
    font-size: 16px;
    color: #333333;
    line-height: 1.75;
    padding-top: 38px;
}

.main-form{
    margin-left: -100px;
    padding-top: 38px;
    
    
}



.header-main__image1{
    position: absolute;
    top: 30%;
    right: 10%;
    z-index: 1;
    width: 518px;
    height: 430px;

}

.header-main__image2{
    position: absolute;
    top:-20%;
    left: 50%;
    background-size: cover;
    object-fit: cover;
    
    
}

.header-main__image2 img{
  width: 100%;
}

.section-title{
    font-size: 32px;
    color: #333333;
    margin-bottom: 20px;
    text-align: center;
}

.section-sub__title{
    font-size: 16px;
    color: #3BA6C9;
    margin-bottom: 65px;
    text-align: center;
}

.feature-list{
    
    

}

.feature-block{
    text-align: center;
}







.feature-block h3{
    font-size: 28px;
    color: #333333;
    margin-bottom: 55px;

}

.feature-block__wrapper{
    display: flex;
    flex-direction: row;
    padding-bottom: 93px;
    
}




.feature-block__image{
    width: 50%;
    margin-left: 30px;
    
}



.feature-block__image img{

    object-fit: cover;
}

.feature-block__texts{
    text-align: left;
    width: 50%;
    align-items: center;
    margin-top: 2%;


}



.feature-block__texts h4{
    font-size: 24px;
    color: #333333;
    padding-bottom: 55px;
}

.feature-block__texts p{
    font-size: 16px;
    color: #333333;
}

.text-active{
    display: block;
}

.price-inner,
.blog-inner{
    background-color: #EEFBFB;
}

table,td{
    border: 1px solid #00000029;
}
table{
    width: 100%;
    max-width: 980px;
    background-color: #FFFFFF;
    margin: 0 auto;
    box-shadow:2px 2px 4px gray ;
   
}

td{
    font-size: 16px;
    padding: 40px 20px;
    width: 50%;
    
}

.table-bottom{
    font-size: 16px;
    color: #333333;
    text-align: center;
    margin-top: 20px;
}

.faq-wrapper{
    max-width: 900px;
    margin: 0 auto;
    cursor: pointer;
    



}

.faq-wrapper__block{
    border: 1px solid #00000029;
    font-size: 14px;
    color: #333333;
    padding: 2% 0;
    text-align: center; 
    
    
    
}


.faq-wrapper__item{
    position: relative;
}

.faq-wrapper__item span{
    position:absolute;
  top:0;
  right:5px;
  color:#ccc;
  font-size:13px;
}

.answer{
    display: none;
    background-color: #F2F2F2;
}

.blog-list{
    display:flex;
    justify-content: space-around;
}

.blog-block{
    width: 390px;
    min-height: 370px;
    overflow: hidden;
    border: 2px solid #F2F2F2;
    border-radius: 10px;
    background-color: #ffffff;

}

.blog-block__image img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.blog-block__texts{
    min-height: 127px;
    position: relative;
}

.blog-block__text{
    font-size: 18px;
    color: #333333;
    padding: 19px 18px;

}

.blog-block__date{
    font-size: 16px;
    color: #333333;
    position: absolute;
    bottom: 0;
    right: 0;
}

.white{
    color: white;

}

.contact-background__color{
    background: transparent linear-gradient(90deg, #05A5FA 0%, #63FBD7 100%, #67FFD6 100%) 0% 0% no-repeat padding-box;
}

.contact-sub{
    font-size: 16px;
    padding-bottom: 45px;
    margin-top: -30px;
    text-align: center;
}

.contact-block{
    background-color: white;
    max-width: 910px;
    margin: 0 auto;
}

input,textarea{
    background-color: #EEFBFB;
    border: 1px solid #E5E5E5;
}
input{
    width: 50%;
    padding: 2%;
}

textarea{
    width: 80%;
    padding: 10%;
    resize: none;
}

.contact-block__parts{
    padding: 40px 0;
    margin-left: 40px;
    display: block;
}

.contact-block__parts p{
    font-size: 16px;
    color: #333333;
    padding-bottom: 40px;
}

.contact-block__parts span{
    display: inline-block;
    background-color: #0C449B;
    border-radius: 10px;
    color: white;
    padding: 3px 10px;
    margin-left: 25px;
    
}

.btn{
    color: white;
    font-size: 14px;
    background: transparent linear-gradient(90deg, #FA41CC 0%, #6020B0 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    display:block;
    padding: 10px 60px;
    margin: 0 auto;
    transition: all ease 0.5s;
    

}

.btn:hover{
    opacity: 0.8;

}

.btn-block{
    padding-bottom: 50px;
}

.page-footer__inner{
    background-color: white;
    font-size: 14px;
    color: #333333;
    text-align: center;
    padding: 50px 0;
}


.login-modal-wrapper,
.signup-modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    /* display: none;を追加してください */
    display: none;
    
  }
  
  .modal {
    position: absolute;
    top: 20%;
    left: 34%;
    background-color: #e6ecf0;
    padding: 20px 0 40px;
    border-radius: 10px;
    width: 450px;
    height: auto;
    text-align: center;
  }
  
  .fa-times {
    position: absolute;
    top: 12px;
    right: 12px;
    color: rgba(128, 128, 128, 0.46);
    cursor: pointer;
  }
  
  #signup-form, #login-form {
    width: 100%;
  }
  
  #signup-form h2, #login-form h2 {
    color: #5f5d60;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
  
  #signup-form input, #login-form input {
    width: 320px;
    margin-bottom: 20px;
    font-size: 12px;
    padding: 12px 12px;
    border: 1px solid #d0d5d8;
    border-radius: 5px;
  }
  
  #submit-btn {
    display: inline-block;
    padding: 14px 140px;
    background-color: #5dca88;
    border: none;
    border-radius: 3px;
    color: white;
    margin: 10px auto;
    cursor: pointer;
  }

  .scroll {
    position: absolute;
    bottom: 1%;
    right: 5%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-decoration: none;
    padding-top: 60px;
    position: fixed;
  }

  .scroll span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid black;
    border-radius: 100%;
    box-sizing: border-box;
  }
  .scroll span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
  .scroll span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255,255,255,.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb 3s infinite;
    animation: sdb 3s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(255,255,255,.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(255,255,255,.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  

  .scroll-hide{
      transition: 3s;
      opacity: 0;
  }







@media only screen and (max-width: 599px) { 

    .page-header__logo,
    .page-header__form,
    .header-main__wrapper,
    .faq-wrapper,
    .feature-block__image,
    table{
        margin: 0;
        padding: 0;
    }

    .page-header__inner{
        font-size: 12px;
        flex-direction: column;
        
    }

    

    

    .page-header__logo p{
        font-size: 25px;
        margin-left: 20px;
        
        

    }

    

    .page-header__nav{
        
        flex-wrap: wrap;
        justify-content: center;
       
    }

    .page-header__list{
        margin: 5px auto;
        
    }

    .page-header__main{
        flex-direction: column;
    }

    

    .header-main__wrapper{
        
        position: relative;
        z-index: 1;
        margin-top: 200px;
       
        
        
    }

    .header-main__title{
        font-size: 15px; 
        margin-top: -20px;
       
    }

    .header-main__text{
        font-size: 13px;
    }

    .header-main__images{
        margin-left: -100px;
        
    }

    .header-main__image1{
        left: 50%;
        top: 50%;
        
    }

    .header-main__image1 img{
        width: 45%;
    }

    .header-main__image2{
        display: none;
       
        

        
    }


    .section-title,
    .section-sub__title{
        text-align: center;
    }

    .section-title{
        font-size: 25px;
        
    }

    .section-sub__title{
        font-size: 18px;
        text-align: center;
    
    }

    

    .feature-block{
        text-align: center;
    }

   

    .feature-block__wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
       
    }

    

    


    .feature-block h3{
        text-align: left;
        font-size: 25px;
        text-align: center;
    
        
        
    }

    .feature-block__texts{
        border: 2px dashed #333333;
        width: 100%;
        text-align: left;
        padding:5% ; 
    }

    .feature-block__texts h4{
        font-size: 18px;
        
       
        
    }



    

    td{
        width: 100%;
        display: block;
        text-align: center;
    }

    

    .table-bottom{
        text-align: left;
    }

    .faq-wrapper__block{
        text-align: center;
        width: 100%;
        
    }

    .faq-wrapper__item{
        display:block;
        width: 100%;

    }

    
    
    .blog-list{
        flex-direction: column;
        
    }

    .blog-block{
        margin: 0 auto;
    }

    .contact-sub{
        text-align: center;
    }

    .contact-block{
        width: 100%;
        margin: 0;
    }   
 
    .contact-block__parts{
        text-align: center;
    }
 
 
 
 
 
 }

